@font-face {
	font-family: Montserrat-Black;
	src: url("plugin/font/Montserrat-Black.otf") format("opentype");
}

@font-face {
	font-family: Montserrat-Bold;
	src: url("plugin/font/Montserrat-Bold.otf") format("opentype");
}

@font-face {
	font-family: Montserrat-Light;
	src: url("plugin/font/Montserrat-Light.otf") format("opentype");
}

body {
	background-color: #EFEFEF;
	font-family: 'Montserrat-Light';
	color: #333333;
}

p {
	margin: 0;
}

.main-navbar {
	position: relative;
	height: 5vh;
	background-color: #D1394B;
}

.home-container, .about-container, .skills-container, .education-container, .experience-container, .portfolio-container, .contact-container {
	background-color: #F4F4F4;
}

.home-content, .about-content, .skills-content, .education-content, .experience-content, .portfolio-content, .contact-content {
	display: flex;
}

.home-content {
	height: 88vh;
	flex-flow: column;
	justify-content: center;
}

.home-scroll {
	text-align: center;
	height: 12vh;
}

.home-scroll-icon {
	height: 8vmin;
	width: 8vmin;
	cursor: pointer;
}

.home-scroll-icon:hover {
	height: 6vmin;
	width: 6vmin;
}

.home-scroll-icon, .home-scroll-icon:hover {
	transition: all 0.5s;
}

.about-content, .skills-content, .education-content, .experience-content, .portfolio-content, .contact-content {
	justify-content: end;
}

.section-title>.title-middle, .section-subtitle {
	font-family: 'Montserrat-Black';
}

.section-title, .section-button {
	text-align: center;
}

.section-title > .title-top {
	font-size: 2em;
}

.section-title > .title-middle {
	font-family: 'Montserrat-Black';
	font-size: 4.5em;
}

.section-title > .title-bottom {
	font-size: 1.3em;
}

.home-scroll-title {
	font-size: 1em;
}

.section-button {
	margin-top: 30px;
}

.btn {
	font-family: 'Montserrat-Light';
	cursor: pointer;
	height: 50px;
	width: 200px;
	padding: 5px 35px;
	margin: 0 5px 0 5px;
	border-style: none;
	background-color: #333333;
	color: #FFFFFF;
	font-size: 0.8em
}

.btn:hover {
	background-color: #767676;
	transition: all 0.8s;
}

.section-subtitle {
	font-size: 1.6em;
	padding-left: 50px;
}

.section-subtitle > span {
	font-size: 1.8em;
	color: #D1394B;
}

/* Override Pagepilling.js css */
#pp-nav span, .pp-slidesNav span {
	/* top: -48px; */
	left: -24px;
	height: 12px;
	width: 12px;
	border: none;
	background-color: #E5E5E5;
}

#pp-nav li a, .pp-slidesNav li a {
	margin: 16px;
}

#pp-nav li .active span, .pp-slidesNav .active span {
	background: #767676;
}

.pp-tableCell {
	vertical-align: top;
}

.pp-tooltip {
	font-family: 'Montserrat-Bold';
	margin-right: 15px;
	color: #333333;
}